html {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 1em 0 0 1em;
}

.header {
  font-size: 5em;
}

.row {
  margin: 1em 0 1em 0;
}

.date-btn {
  border: 1px solid #ccc;
  text-align: center;
  padding: 2em;
  margin-bottom: 1em;
}

.date-btn:hover {
  cursor: pointer;
}

.date-btn.selected {
  color: #fff;
  background-color: rgb(54, 54, 54);
  transition: 0.5s;
}

#indicator-2 {
  margin-right: 1em;
}

#legend_1, #legend_2 {
  max-width: 250px;
}

#legend_2 {
  position: absolute;
  right: 1em;
}

.background-img {
  z-index: -1;
  position: absolute;
  top: 108px;
  left: 50%;
  transform: translateX(-50%);
  width: 1168px;
  height: 100%;
}

.foreground-img {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 108px;
  width: 584px;
  height: 100%;
}

#break {
  border-left: 2px solid #000;
  height: 530px;
  right: 0;
  position: absolute;
}

/* Slider css */
.slider {
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
}

input[type=range] {
  background-color: transparent;
  border: 0.2px solid #010101;
  height: 8px;
  -webkit-appearance: none;
}

input[type=range]:hover {
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #ffffff;
  border: 0.2px solid #000000;
  cursor: pointer;
  -webkit-appearance: none;
}